@import '../styles/variables';

.appHeader {
    padding: $spacer/1.5 $spacer / 1.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    height: $appWidth/10;
    width: $appWidth;
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.05);
    background-color: $brand-purple;
    margin-bottom: -4rem;

    @media (min-width: $break-point--medium) {
        padding: $spacer;
    }
}

.title {
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $brand-white;
    margin-right: 100px;

}
.subtitle {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $brand-white;
    margin-right: 100px;
    margin-top: -4rem;
}
.nobutton {
    background-color: transparent;
    border: none;
    font-size: large;
    color: $brand-grey-lighter;
    font-family: $font-family-title;
    &:hover {
        color: $brand-pink;
        transform: none;
    }


}
.topLinks {
    padding-right: $spacer;
    font-size: 20px;
    font-weight: 700;
    font-family: $font-family-base;
    border: none;
    color: $brand-white;
    outline: 0;

    &:active {
        text-decoration: none;
        border: none;
    }
    &:visited {
        text-decoration: none;
        border: none;
        color: $brand-pink;
    }
    &:hover {
        color: $brand-pink;
        transform: none;
    }

    @media (min-width: $break-point--medium) {
        padding-right: 0;
        margin-right: $spacer / 2;
    }

    &::-webkit-scrollbar,
    &::-moz-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        transition: opacity 0.2s ease-out;
    }
}

svg {
    height: 130px;
    width: 130px;
}